.stepper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.node.active {
    background-color: rgb(226, 0, 116);
}

.node {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    width: 2%;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid rgb(226, 0, 116);
    justify-content: center;
}

.connector.visited {
    border-top: 1px solid rgb(226, 0, 116);
}

.connector {
    width: 10rem;
    border-top: 1px solid #80807d7a;
}

.label {
    position: absolute;
    width: 6rem;
    top: 1rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
}